# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform variable files
*.tfvars
*.tfvars.json

# AWS credentials
.aws/

# AWS CLI installer artifacts
aws/
awscliv2.zip

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
